<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kg.iaau.softwarearchitecture.gymtracker">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".CoreApplication"
        android:allowBackup="true"
        android:icon="@drawable/gym_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gym_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymTracker">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>